.mainCol{
    background-color:#a6a7a1;
    height: 480px;
    border-style: dashed;
    border-color: white;
    color: white;
}

.sideCol{
    background-color: black;
    height: 480px;
}

.heightIncrease{
    height: 230px;
    padding: 0;
}

#revealedWord{
    padding-top: 10px;
}

#videoPlayer{
    align-content: center;
}

#videoContainer{
   overflow: hidden;
   margin:0;
   padding:0;
}

.jumbotron{     
    margin:0;
    padding:0;
}

.sideBanners{
    background-image: url(side.jpg);
    max-width: 100%;
    max-height: 100%;
    background-size: contain;
}

#bottomGif{
    background-size: cover;
}
